//
   Created by Juan Antonio on 30/01/2016.
html
    head
        meta(charset="UTF-8")
        title="DOM"
        script(src="js/main.js")
    body
        p="ParrafoDOM"
        p="ParrafoDOM segundo"
        p="ParrafoDOM tercero"

